name: 080-resusable-workflow-called

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  example_job:
    name: Pass input and secrets to my-action
    runs-on: ubuntu-latest
    steps:
      - name: Run a script
        run: echo Hello, ${{ inputs.username }}
      # - uses: octo-org/my-action@v1
      #   with:
      #     username: ${{ inputs.username }}
      #     token: ${{ secrets.token }}